:root {
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #232323;
}


body {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 0;
}


img {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 0;
}


.section {
  padding: 48px 0;
}
.section--orange {
  background: #FFF6E5;
}
.section--p0 {
  padding: 0;
}
.section--mt40 {
  margin-top: 40px;
}

.container {
  padding: 0 20px;
}
.container--s {
  width: 80%;
  margin: 0 auto;
}


.boxTime {
  border-radius: 8px;
  padding: 24px 24px;
  border: 2px solid #000;
  background: #fff;
  text-align: center;
  margin-top: -48px;
}
.boxTime__date {
  font-size: 16px;
  font-weight: 900;
}
.boxTime__date span{
}
.boxTime__text {
  font-size: 28px;
  font-weight: 900;
  margin-top: 16px;
  margin-left: 0.5em;
}
.boxTime__text span {
  color: #004F99;
}
.boxTime__note {
  font-size: 12px;
  margin-top: 16px;
}

.cta {
  width: 100px;
  aspect-ratio: 1/1;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: all 0.5s;
  opacity: 1;
}
.cta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cta.is-off {
  opacity: 0;
  pointer-events: none;
}

.bar {
  background: #06C755;
  padding: 24px 10%;
  text-align: center;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
}

.images img {
  width: 100%;
  height: auto;
  padding: 16px 0;
}

.textTime {
  text-align: center;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 1.6;
}