@charset "UTF-8";

:root {
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 400;
}


body {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 0;
}

.cta {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  display: inline-block;
}